<div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddzudaqmd/image/upload/v1558632241/coworking_space_xn09ep.png);">
  <div class="container">
    <h1>Space Work</h1>
    <p>Trouvez votre <strong>espace de co-working</strong>.</p>
  </div>
</div>


<div class="container">
  <div class="flex cards mt-3">
  <% @spaces.each do |space| %>
    <%= link_to space_path(space), class: "card" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('<%= cl_image_path space.photo, height: 300, width: 400, crop: :fill %>)">
        <p class="card-title"><%= space.title %></p>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

