<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddzudaqmd/image/upload/v1558535048/Nantucket-Beach-Club-Cocktail-landscape-decorated_nzucrh.jpg);">
  <div class="container">
    <h1>Space Work</h1>
    <p>Find the Best  <strong>Co-Working Space</strong>.</p>
    <a class="btn btn-warning" href="#">Apply now</a>
  </div>
</div>

<div class="container">
  <div class="flex cards">
  <% @spaces.each do |space| %>
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path space.photo, height: 300, width: 400, crop: :fill %>')">
    <%= link_to space.name, space_path(space) %>
  </div>


  <% end %>
  </div>
</div>
