<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddzudaqmd/image/upload/v1558632241/coworking_space_xn09ep.png);">
  <div class="container">
    <h1>Space Workkk</h1>
    <p>Trouvez votre <strong>espace de co-working</strong>.</p>
    <a class="btn btn-primary" href="#">Chercher</a>
  </div>
</div>

