<div class="bg-white">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="navbar-brand">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
      Etape 2 : Donnez le ton
    </div>
  </div>
    <div class="_active-loading-bar" style="width: 33.3333%; left: 0%; max-width: 100%;"></div>
    <div class="_unactive-loading-bar" style="width: 33.3333%; left: 33.3333%; max-width: 66.6667%;"></div>
    <div class="_unactive-loading-bar" style="width: 33.3333%; left: 66.6667%; max-width: 33.3333%;"></div>
  <div style="margin-top: 32px; margin-bottom: 8px;">
    <div class="_container">
      <div class="_title">Ajoutez des photos à votre annonce</div>
      <div style="margin-top: 8px; margin-bottom: 24px;">
        <div class="_description">Les photos aident les collaborateurs à se projeter dans votre espace de travail. Vous pouvez commencer par une photo, puis en ajouter d'autres après la publication.</div>
      </div>
      <%= link_to "Télécharger des photos", "/spaces/description", class: "btn btn-primary" %>
    </div>
  </div>
</div>
<div class="_to-the-bottom">
  <div class="_align_with_block">
    <div class="_bottom-background">
      <div class="_bottom-padding">
        <div class="_grey-line-bottom"></div>
          <div class="_1hbsadf">
            <div class="_1hfa947x">
              <div class="_ni9axhe">
                <span class="_1p3joamp">
                  <a href="/become-a-host/35007239" class="_n8ooixh" aria-busy="false">
                    <div class="_qtix31">
                      <div class="_ni9axhe">
                        <div style="margin-right: 8px;">
                          <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="height: 1em; width: 1em; display: block; fill: currentcolor;">
                            <path d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z" fill-rule="evenodd"></path>
                          </svg>
                        </div>
                      </div>
                      <div class="_ni9axhe">Retour</div>
                    </div>
                  </a>
                </span>
              </div>
              <div class="_10ejfg4u"></div>
              <div class="_ni9axhe">
                <a href="/become-a-host/35007239/description" class="_cstn14u" aria-busy="false">
                  <span class="_d0z9t8r">Plus tard</span>
                </a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
