.card-title {
  color: white;
  margin: 0;
  text-decoration: none;
}
.card:hover{
  text-decoration: none;
  .card-category {
    opacity: 0.7;
  }
}

.card-a {
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
