._container {
    font-size: 19px;
    padding: 30px 30px 16px;
}

._title {
    overflow-wrap: break-word;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.25em;
    color: rgb(72, 72, 72);
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px;
}

._description {
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
    color: rgb(72, 72, 72);
    margin: 0px;
}

._to-the-bottom {
    position: fixed;
    z-index: 111;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

._bottom-background {
    background-color: rgb(255, 255, 255) !important;
}

._grey-line-bottom {
    height: 1px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px -1px 0px;
    position: relative;
    padding-bottom: 16px;
}

